body {
  font-family: "Space Mono", monospace;
  background: #bdd5ea;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "x a a a s"
    "b c c c s"
    "b c c c s";
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 1fr 7fr 1fr;
  margin: 0;
}

.corner-thing {
  display: grid;
  place-items: center;
}

.corner-thing img {
  width: 60px;
}

body > div {
  display: grid;
}

.h-titles {
  grid-area: a;
  background: #bdd5ea;
  color: #577399;
  font-size: larger;
  text-decoration: underline solid 5px#f7f7ff;
  /* background: blue; */
  display: grid;
  grid-template-areas: "left right";
}

.ht1 {
  grid-area: left;
  text-align: center;
}

.ht2 {
  grid-area: right;
  text-align: center;
}

.v-titles {
  grid-area: b;
  background: #bdd5ea;
  color: #577399;
  font-size: larger;
  text-decoration: underline solid 5px#f7f7ff;
  /* background: red; */
  width: 100%;
  height: 100%;
  grid-template-areas:
    "up"
    "bot";
}

h1 {
  font-family: "IBM Plex Sans", monospace;
}
.v-titles h1 {
  background: #bdd5ea;
}

.vt1 {
  grid-area: bot;
  /* text-decoration: underline rgb(226, 242, 254); */
}

.vt2 {
  grid-area: up;
}

.q-container {
  grid-area: c;
  background: #f7f7ff;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "q1 q2"
    "q3 q4";
}

.q1 {
  grid-area: q1;
  border-right: 2px dashed#bdd5ea;
  border-bottom: 2px dashed #bdd5ea;
}

.q2 {
  grid-area: q2;
  border-bottom: 2px dashed #bdd5ea;
}

.q3 {
  grid-area: q3;
  border-right: 2px dashed #bdd5ea;
}

.q4 {
  grid-area: q4;
}

.q-sidebar {
  grid-area: s;
  background: #577399;
  width: 100%;
  height: 100%;
}

.rotate {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  width: min-content;
}

/* Sticky note things */

#stickies-container {
  padding: 1rem;
}
.drag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sticky {
  /* background: linear-gradient(to left bottom, #d4fc78, #99e5a2); */
  background: #f4e285;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: black;
  /* 0 0 150px rgba(0, 0, 0, 0.2); */
  cursor: grab;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  width: 12.5rem;
}
.sticky h3,
.sticky p {
  color: black;
  pointer-events: none;
}
.sticky h3,
.sticky .input-h3 {
  border-bottom: dashed 2px #e0be15;
  margin: 0 0 1rem;
  min-height: 1.3rem;
  /* padding: 0 1.5rem 0.25rem 0; */
}
.sticky p,
.sticky .input-p {
  margin: 0;
  min-height: 9rem;
  resize: none;
}
.sticky .deletesticky {
  color: #e0be15;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 0.8rem;
  top: 0.2rem;
}

.sticky .editsticky {
  cursor: pointer;
  position: absolute;
  width: 25px;
  right: 0.8rem;
  bottom: 0.4rem;
}

.sticky-form {
  bottom: 1rem;
  right: 1rem;
  margin: 1rem;
}
.sticky-form label,
.sticky-form input,
.sticky-form textarea {
  color: #fff;
  display: block;
}
.sticky-form input,
.sticky-form textarea {
  background-color: #f0f9ff44;
  background-clip: padding-box;
  border: 2px dashed #577399;
  border-radius: 0.25rem;
  color: #f7f7ff;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  padding: 0.375rem 0.75rem;
  width: calc(100% - 1.5rem);
  resize: none;
}
.sticky-form input:focus,
.sticky-form textarea:focus {
  border: 2px dashed #f7f7ff;
  outline: none;
}
button.button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #f4e285;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #577399;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
